body {
    display: flex;
    justify-content: center;
}

.space-invaders {
    font-size: 34px;
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 100px;
    width: 100%;
    margin: 0;
    float: left;
    padding: 10px;
    position: absolute;
    align-items: center;
    margin-top: 25px;
}

#game-canvas {
    border: 1px solid black;
    margin-top: 25%;
    display: block;
}